{% extends "questionnaire1.html" %}

{% block radio8 %}
	    <label class = "col-sm-2 control-label">タイプ1</label>
		<div class="radio-inline">
	      <input type="radio" value="1">
	      <label for="1">1</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="2">
		  <label for="2">2</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="3">
		  <label for="3">3</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="4">
		  <label for="4">4</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="5">
		  <label for="5">5</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="6">
		  <label for="6">6</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="7">
		  <label for="7">7</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="8">
		  <label for="8">8</label>
		</div>
	    <label class = "col-sm-2 control-label">タイプ2</label>
		<div class="radio-inline">
	      <input type="radio" value="1">
	      <label for="1">1</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="2">
		  <label for="2">2</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="3">
		  <label for="3">3</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="4">
		  <label for="4">4</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="5">
		  <label for="5">5</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="6">
		  <label for="6">6</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="7">
		  <label for="7">7</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="8">
		  <label for="8">8</label>
		</div>
	    <label class = "col-sm-2 control-label">タイプ3</label>
		<div class="radio-inline">
	      <input type="radio" value="1">
	      <label for="1">1</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="2">
		  <label for="2">2</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="3">
		  <label for="3">3</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="4">
		  <label for="4">4</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="5">
		  <label for="5">5</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="6">
		  <label for="6">6</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="7">
		  <label for="7">7</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="8">
		  <label for="8">8</label>
		</div>
	    <label class = "col-sm-2 control-label">タイプ4</label>
		<div class="radio-inline">
	      <input type="radio" value="1">
	      <label for="1">1</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="2">
		  <label for="2">2</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="3">
		  <label for="3">3</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="4">
		  <label for="4">4</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="5">
		  <label for="5">5</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="6">
		  <label for="6">6</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="7">
		  <label for="7">7</label>
		</div>
	    <div class="radio-inline">
	      <input type="radio" value="8">
		  <label for="8">8</label>
		</div>
{% endblock %}
